@import url('https://fonts.googleapis.com/css?family=Alegreya|Comfortaa|Flamenco|Montserrat');

/* 
Custom Font Syntax:
font-family: 'Comfortaa', sans-serif;
font-family: 'Flamenco', cursive;
font-family: 'Alegreya', serif; 
*/

body, html {
  height: 100%;
  background-color: rgb(250, 236, 217);
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* header stuff */

header {
  background-color: #1d1d1d;
  max-height: 100px;
  width: 100%;
  /* position: fixed; */
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-areas: "logo navLinks navTab";
}

nav {
  font-family: 'Comfortaa', sans-serif;
  margin: auto;
  grid-area: navLinks;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

nav a {
  text-decoration: none;
  padding: .5rem 1rem;
  color: rgb(250, 236, 217);
  font-weight: 400;
  border-right: solid 1px #f19c22;
  transition: color, 550ms;
}

nav a:hover {
  color: #F19C22;
}

nav a#lastNav {
  border-right: none;
}

#navTab {
  grid-area: navTab;
}
#navTab2{
  grid-area: navTab2;
  display: none;
}

#logo {
  grid-area: logo;
  margin: auto 1rem;
  display: inline-block;
}

#fe {
  width: 65px;
}

img#navTabImg {
  float: right;
  margin: 0;
  padding: 0;
}
img#navTabImg path {
  fill: #fff!important;
}

/* sub-header stuff */

img#smithing {
  width: 200px;
  height: 200px;
}

img#coding {
  width: 200px;
  height: 200px;
}



section#smithing {
  background-color: rgb(250, 236, 217);
  padding: 2em;
  border-top: 5px solid #F19C22;
  grid-area: smithing;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 2rem;
}
section#coding {
  background-color: rgb(250, 236, 217);
  padding: 2em;
  border-top: 5px solid #F19C22;
  border-bottom: 5px solid #F19C22;
  grid-area: coding;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 2rem;
}

img {
  max-width: 100%;
  background-size: cover;
  margin: 0 auto;
}


.main {
  grid-area: right;
  grid-template-rows: 100px fit-content(30%) 40% auto;
  display: grid;
  grid-template-areas: 
    "head"
    "smithing"
    "coding"
    "features"
}

footer {
  grid-area: footer;
  background: #1d1d1d;
  color: white;
  text-align: center
}

#features {
  grid-area: features;
  display: grid;
  grid-template-columns: repeat(5, auto);
  text-align: center;
}

#features i {
  font-size: 2em;
}

ul#features {
  margin: 0;
  padding: 0;
}

ul#features li {
  background-color: white;
  color: #4c4c4c;
  padding: 1em;
}

@media screen and (max-width: 60em) {
  .sidebar {
    display: none;
  }
  body {
    grid-template-columns: auto;
    grid-template-areas: 
      "right" 
      "footer";
  }
  #features {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  ul#features li:nth-child(5) {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 40em) {
  header{
    max-height: 300px;
    grid-template-rows: auto 3rem;
    grid-template-areas:
      "navTab2 logo navTab"
      "navLinks navLinks navLinks";
  }
  #navTab2 {
    display: initial;
  }
  a#logo {
    display:grid;
    justify-content: center;
  }
  img#fe {
    margin: auto;
  }
  /* #spaceghost {
    height: 2rem;
  } */
  nav a {
    text-decoration: none;
    border: none;
    padding: .5rem 1rem;
    color: rgb(250, 236, 217);
    font-weight: 400;
    border-right: solid 1px #f19c22;
    transition: color, 550ms;
  }

  section#smithing {
    background: url(/images/blacksmithing.svg) no-repeat center;
    background-size: contain;
    grid-template-columns: auto;
  }
  
  section#coding {
    background: url(/images/coding.svg) no-repeat center;
    background-size: contain;
    grid-template-columns: auto;
  }

  img#smithing-img, img#coding-img{
    display: none;
  }
  p {
    font-weight: 500;
    font-size: 1.2em;
  }
  h1, p {
    text-align: center;
  }
}